@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "This is a description test, lets see if i can use this in another page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["Description"]</p>
